@import "../../variables";

.button{
  margin: 0 10px;
  padding: 10px 40px;
  border: none;
  background-color: $baseLight;
  color: #fff;
  font-size: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.25s;

  &:first-child{
    margin-left: 0;
  }

  &:last-child{
    margin-right: 0;
  }

  &:hover{
    transform: translate(0, -5px);
  }

}

.button.button-accent{
  background-color: $accent;
}