@import "../../variables";

/************************************/
/* Header */
/************************************/
.header{
  height: 100px;
  background-color: $accent;
}
/************************************/
/* !Header */
/************************************/



/************************************/
/* Logo */
/************************************/
.logo{
  position: relative;
  padding-left: 33px;
  display: inline-block;
  color: $font;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  &::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 36px;
    height: 36px;
    background-image: url('../../static/logo.svg');
    background-repeat: no-repeat;
    border-color: #000;
  }
}

a.logo{
  transition: 0.2s;
  &:hover{
    color: $font;
    text-decoration: none;
    transform: scale(1.1);
  }
}
/************************************/
/* !Logo */
/************************************/



/************************************/
/* Menu */
/************************************/
.menu-list{
  display: none;
  list-style: none;
  li{
    margin-right: 15px;
    display: inline-block;
    font-size: 14px;
    //&:first-child{
    //  opacity: 0.75;
    //}
    &:last-child{
      margin-right: 0;
    }
    a{
      color: $font;
      img{
        position: relative;
        top: -2px;
      }
    }
  }
  @media (min-width: 576px){
    display: block;
  }
}

.burger{
  position: relative;
  top: 2px;
  display: block;
  @media (min-width: 576px){
    display: none;
  }
}
/************************************/
/* !Menu */
/************************************/