@import "../../../variables";

.input-block {
  .input-checkbox-fake {
    border-radius: 3px;

    &:after {
      content: "";
      top: 4px;
      left: 8px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
}