@import "../../variables";

.breadcrumbs-list{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
  }
  .breadcrumb-separator,
  .breadcrumb-item{
    opacity: 0.5;
  }
  .breadcrumb-item{
    padding: 0 5px;
  }
  a.breadcrumb-item{
    color: $font;
    transition: 0.25s;
    &:hover{
      opacity: 1;
      text-decoration: none;
    }
  }
  .breadcrumb-home.breadcrumb-item{
    padding-left: 0;
    img{
      position: relative;
      top: -1px;
    }
  }
}